.gallery5 .about-hero {
  height: 500px;
  width: 981px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery5 .about-hero .hero-image {
  position: relative;
  margin-top: 80px;
  height: 380px;
  width: 981px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.7)), to(rgba(255, 209, 64, 0.7))), url(../images/gallery/5.png);
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 170px;
}
.gallery5 .galleryTitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 250px;
  right: 311px;
}
.gallery5 .galleryTitle .titleNumber {
  width: 215px;
  height: 275px;
  font-size: 300px;
  font-family: GillSans;
  color: #FFD140;
}
.gallery5 .galleryTitle .titleWords {
  height: 130px;
  width: 684px;
  font-size: 140px;
  font-family: GillSans;
  color: #FFD140;
}
.gallery5 .aboutContainer {
  height: 200px;
  width: 981px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
}
.gallery5 .aboutContainer .aboutText {
  width: 460px;
  height: 69px;
  font-family: GillSans;
  font-style: italic;
  line-height: 23px;
}
.gallery5 .aboutContainer .aboutText2 {
  width: 450px;
  height: 69px;
  font-family: GillSans;
  font-style: italic;
  line-height: 23px;
}